.root {
  text-align: left;
}

.flex {
  display: flex;
  margin-top: 10px;
  flex-shrink: 0;
  flex-basis: 1;
}

.question {
  list-style: none;
}

.jurorPic {
  min-width: 140px;
  max-width: 140px;
  min-height: 140px;
  max-height: 140px;
  padding: 1em;
}

.answer {
  padding: 1em;
  display: block;
}

.questions {
  width: 100%;
  border-radius: 2px;
  text-align: left;
  margin: 0;
  padding: .5em;
}

.hiddenQuestion{
  display: none;
}
