.root {
  padding: 10px;
  margin-right: auto;
}

.clues {

}

.blackmailHeader {
  text-align: center;
  padding: 0;
  margin: 2px 0;
}

p {
  padding: 0;
  margin: 2px 0 5px 0;
}

.yourBlackmails {
  padding-top: 5px;
}
