.jury-box {
  margin: 0 20px 20px 20px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #754B36;
  height: auto;
}

.jurors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.juror {
  background-color: #996247;
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  max-width: 150px;
  min-width: 150px;
}

.jury-box img {
  width: 100px;
  height: 100px;
}
