@font-face {
  font-family: retroFont;
  src: url('/lunchds.TTF');
}

.app {
  font-family: retroFont;
  font-weight: 200;
  color: #FBFBF2;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin: 0;
}

button {
  background-color: lightblue;
}

.bottom {
  display: flex;
  margin: 0 20px;
}

.numQuestions {
  padding-top: 10px;
}

.noLowQuestions {
  color: #FBFBF2;
}

.lowQuestions {
  color: red;
}

.gameState {
  min-width: 300px;
  margin-right: 30px;
  border: 10px double black;
  color: #40434E;
  background-color: #FBFBF2;
}

.jurorCard {
  width: 100%;
  border: 10px double black;
  color: #40434E;
  background-color: #FBFBF2;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 50%;
  background-color: white;
  border: 10px double #FBFBF2;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-family: retroFont;
  font-weight: 200;
  padding-top: 10px;
  background-color: #0C0300;
}

.modal:focus {
  outline: none;
}

.modalText {
  text-align: center;
  padding: 5px 15px;
  color: #FFD987;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 100;
  letter-spacing: 3px;
}

.button {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
